a {
    color: #000;
}

.post-body {
    width: 740px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.post-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Georgia;

    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
    }
}

.post-tags {
    margin-bottom: 1rem;
}

.post-content {
    font-size: 1.25rem;
    font-family: Georgia;

    @media screen and (max-width: 1024px) {
        font-size: 1rem;
    }

    p:last-child {
        display: none;
    }

    img {
        width: unset;
        height: unset;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}
