iframe {
    max-width: 100%;

    @media screen and (max-width: 1024px) {
        height: 250px;
    }
}

.radio-wrapper {
    background: url("/assets/images/radio-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FAEBCA;
    font-family: Montserrat, sans-serif;
}

.selected-row {
    color: darkblue;
    font-weight: bold;
    font-size: 1rem;
}

.list-radio-inside {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
}

.ant-list-split .ant-list-item {
    border-bottom: none;
}

h2 {
    font-size: 2rem;
}
