iframe {
    max-width: 100%;

    @media screen and (max-width: 1024px) {
        height: 250px;
    }
}

.radio-wrapper {
    background-color: pink;
    font-family: Montserrat, sans-serif;
}

.selected-row {
    color: darkblue;
    font-weight: bold;
    font-size: 1rem;
}

.ant-list-split .ant-list-item {
    border-bottom: none;
}

h2 {
    font-size: 2rem;
}
