/* For demo */
.ant-carousel .slick-slide {
    background: #364d79;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
    text-align: center;
}

.ant-carousel .slick-slide h3 {
    /* stylelint-disable-line */
    color: #fff;
    font-size: 2rem;
}
